.conteiner {
    width: 970px;
    margin: 0 auto;
    background: lightblue;
}

.header {
    height: 80px;
}
.header>nav>ul>li>{
    display: inline;
}

.header>nav>ul>li>{
    display: inline;
 list-style: none;
}


.header>nav>ul>li>a {
    padding-left: 20px;
    padding-right: 20px;
}